@use "@scss/shared/theme" as *;

div.tool-invocation-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 180px;

  svg {
    font-size: 24px;
  }
}

div.tool-invocation {
  div.tool-invocation-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 $hug;

    p {
      font-size: 12px;
      font-weight: 700;

      span {
        margin: 0 0 0 calc($hug / 3);
        font-family: monospace;
        background: $sc;
        padding: calc($hug / 3) $hug;
        border-radius: $c-radius;
      }
    }
  }

  div.tool-invocation-result {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.3s;
  }

  div.tool-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    div.tool-carousel-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease-in-out;
    }

    div.tool-carousel-item {
      position: relative;
      width: 180px;
      height: 180px;
    }

    div.tool-carousel-options {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      z-index: 10;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgba($pc, 0.5);
        color: $bc;
        border: none;
        margin: 0 0 0 calc($hug / 3);
        cursor: pointer;

        &:nth-child(1) {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
