@use "sass:color" as color;
@use "@scss/shared/theme" as *;
@use "@scss/shared/generic/button" as button;

$dialog-bg: color.adjust($bc, $lightness: -5%);

div.expression-dialog {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0 0 0 / 25%);
  backdrop-filter: blur(10px);
  transition: opacity 0.2s ease-in-out;

  div.dialog-content {
    width: 100%;
    padding: $hug;
    background: $dialog-bg;
    color: $fc;
    border-radius: $c-radius;
    box-shadow: 0 0 10px 10px $g-shadow;

    &.dialog-profile {
      max-width: $app-width;
      height: 480px;
    }

    &.dialog-history {
      max-width: 968px;
      height: 580px;
    }
  }

  div.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $hug $hug 0 $hug;

    h3 {
      font-size: 24px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $c-size;
      height: $c-size;
      background: none;
      border: none;
      border-radius: $c-radius;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        @include pc-alpha(0.25);
      }
    }
  }

  div.dialog-search-bar {
    position: relative;
    padding: $hug $hug 0 $hug;

    svg {
      position: absolute;
      right: calc($hug * 2);
      top: calc($hug * 2);
      color: $sc;
    }
  }

  div.dialog-content-wrapper {
    position: relative;
    display: flex;
    width: 100%;

    div.dialog-loader {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      background: $dialog-bg;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s ease-in-out;
    }

    div.dialog-content-column {
      width: 180px;
      padding: $hug;
      overflow: auto;

      button {
        @include button.dialog-option;
      }
    }

    form {
      width: calc(100% - 180px);

      div.customize-select {
        display: flex;
        margin: 0 calc($hug * -0.5);
        padding: 0 0 $hug;

        button {
          @include button.dialog-select;

          & {
            width: 50%;
            margin: 0 calc($hug * 0.5);
          }
        }
      }
    }
  }

  div.dialog-content-history {
    height: calc(100% - 45px);

    div.dialog-content-column {
      width: 280px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    div.dialog-history-preview {
      width: calc(100% - 280px);
      height: 100%;
      padding: $hug;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      div.tool-invocation-result {
        opacity: 1;
        animation: none;
      }
    }
  }
}
